.main-content {
    margin-top: 80px;
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly]{
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding-left: 5px;
    min-width: 300px;
}

label {
    text-align: left;
}

.toolbar {
    margin-bottom: 20px;
    border-bottom: solid 1px;
}

.toolbar-heading h1 {
    margin-bototm: 20px;
}

.toolbar-actions {
    margin-top: 20px
}

.toolbar-actions .btn {
    float: right;
    margin-left: 5px;
}

.inner-container {
    width: 95%;
}

.hidden {
    display: none;
}