@(currentPage: com.avaje.ebean.PagedList[Asset], currentSortBy: String, currentOrder: String, currentFilter: String)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{

  var sortBy = currentSortBy
  var order = currentOrder

  if(newSortBy != null) {
    sortBy = newSortBy
    if(currentSortBy == newSortBy) {
      if(currentOrder == "asc") {
        order = "desc"
      } else {
        order = "asc"
      }
    } else {
      order = "asc"
    }
  }

  // Generate the link
  routes.AssetController.list(newPage, sortBy, order, currentFilter)
}

  @**********************************
  * Helper generating table headers *
  ***********************************@
@header(key:String, title:String) = {
  <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
    <a href="@link(0, key)">@title</a>
  </th>
}

@main {
  @if(currentPage.getTotalRowCount == 0) {

    <div class="well">
      <em>Nothing to display</em>
    </div>

  } else {

    <table class="table">
      <thead>
        <tr>
          @header("id", "ID")
          @header("name", "Asset name")
          @header("description", "Description")
          @header("last_access_by", "Last Access By")
          @header("last_access_date", "Last Access Date")
        </tr>
      </thead>
      <tbody>

      @for(asset <- currentPage.getList) {
        <tr>
          <td><a href="@routes.AssetController.view(asset.id)">@asset.id</a></td>
          <td>@asset.name</td>
          <td>
          @if(asset.description == null) {
            <em>-</em>
          } else {
            @asset.description
          }
          </td>
          <td>
          @if(asset.last_access_by == null) {
            <em>-</em>
          } else {
            @asset.last_access_by
          }
          </td>
          <td>
          @if(asset.last_access_date == null) {
            <em>-</em>
          } else {
            @asset.last_access_date.format("dd MMM yyyy")
          }
          </td>
        </tr>
      }

      </tbody>
    </table>

    <div id="pagination" class="pagination">
      <ul>
        @if(currentPage.hasPrev) {
          <li class="prev">
            <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
          </li>
        } else {
          <li class="prev disabled">
            <a>&larr; Previous</a>
          </li>
        }
        <li class="current">
          <a>Displaying @currentPage.getDisplayXtoYofZ(" to ", " of ")</a>
        </li>
        @if(currentPage.hasNext) {
          <li class="next">
            <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
          </li>
        } else {
          <li class="next disabled">
            <a>Next &rarr;</a>
          </li>
        }
      </ul>
    </div>
  }
}