@(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Asset Manager</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        <header class="topbar">
            <h1 class="fill">
                <a href="@routes.AssetController.index()">Asset Manager</a>
            </h1>
        </header>

        <section id="main">
            @content
        </section>
    </body>
</html>